<div class="add-submissions">
  <h2>Add Submission</h2>
  <!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Insured" class="">Content 1</mat-tab>
    <mat-tab label="Coverages">Content 2</mat-tab>
    <mat-tab label="Vehicles">Content 3</mat-tab>
    <mat-tab label="Endorsements">Content 3</mat-tab>
    <mat-tab label="Drivers">Content 3</mat-tab>
    <mat-tab label="Underwriting">Content 3</mat-tab>
    <mat-tab label="Premium">Content 3</mat-tab>
    <mat-tab label="Documents">Content 3</mat-tab>
    <mat-tab label="Bind">Content 3</mat-tab>
  </mat-tab-group> -->
  <div class="row">
    <div class="col">
      <fc-tabs>
        <fc-tab tabTitle="ABC">
          sds
        </fc-tab>
        <fc-tab tabTitle="ABC">dddd</fc-tab>
        <fc-tab tabTitle="ABC">eee</fc-tab>
      </fc-tabs>
    </div>
    <div class="col">11</div>
  </div>
</div>